@import url("reset.css");

:root {
  --break-width: 800px;
}

html {
  padding: 0;
  margin: 0;
}

body {
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background-color: #f9f9f9;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  line-height: 1;
  margin: 0 0 1.6rem;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  margin: 0 0 1.6rem;
}

a {
  color: #0056b3;
  border-bottom: 2px solid transparent;
  transition: all 0.5s ease-in-out;
}

a:hover {
  color: #002348;
  border-bottom: 2px solid #002348;
}

hr {
  margin: 3.2rem 1.6rem;
  color: #555555;
  border-color: #555555;
}

.grid-container {
  padding: 0;
  margin: 1.6rem auto;
  width: 100%;
  max-width: 1000px;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.grid-container > * {
  grid-column: 1 / 3;
}

@media (min-width: 800px) {
  .grid-container {
    gap: 1.2rem;
    padding: 0 1.6rem;
  }
}

/* HEADER ===========================================*/

header {
  background-color: #64bcda;
  border-bottom: 8px solid #000000;
  margin: 0;
  padding: 0 1.6rem;
}

figure {
  display: block;
  margin-block: 0;
  margin-inline: 0;
}

.header_logo {
  padding: 1.6rem 0;
  width: 100%;
  max-width: 420px;
  margin: auto;
}

.header_pub-info {
  margin: 0 0 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

@media (min-width: 800px) {
  .header_pub-info {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

/* BREADCRUMBS ================================= */

.breadcrumbs {
  margin: 1.2rem 0 0;
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem;
}

.breadcrumbs li {
  display: inline-block;
}

.breadcrumbs li:before {
  content: ">";
  padding-right: 0.5rem;
}

.breadcrumbs li:first-of-type:before {
  content: "";
}

/* CONTENT ===================================== */

main {
  margin: 0;
}

article {
  background-color: #e2e2e2;
  padding: 1.6rem;
  margin: 0 0 1.6rem;
}

figure.article_cover {
  margin: 0 0 1.6rem;
}

figure.article_cover figcaption {
  display: inline-block;
  color: #666666;
  font-size: 0.8rem;
  font-style: italic;
  line-height: 1;
}

.content hgroup h1 {
  font-size: 2rem;
}

.content hgroup p {
  margin: 0 0 1.6rem;
}

.author-label {
  font-style: italic;
}

article q {
  font-style: italic;
}

@media (min-width: 800px) {
  .grid-container > article {
    grid-column: 1 / 2;
    border-radius: 0.6rem;
    margin: 0;
  }

  .grid-container.story-page {
    margin: auto;
    max-width: 80ch;
  }

  .grid-container.story-page > * {
    grid-column: 1 / 3;
  }
}

/* SIDEBAR ============================================ */

.sidebar {
  padding: 1.6rem;
  background-color: #323232;
  color: #f2f2f2;
  margin: 0 0 1.6rem;
  font-size: 0.9rem;
}

.sidebar_thumb {
  margin: 0 0 0.8rem;
}

.sidebar_thumb figcaption {
  display: inline-block;
  color: #f2f2f2;
  font-size: 0.8rem;
  font-style: italic;
  line-height: 1;
}

.sidebar li {
  margin: 0 0 1.6rem;
}

.sidebar_byline {
  margin: 0 0 1.6rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.sidebar_byline .byline_date {
  display: none;
}

.sidebar_byline .byline_name {
  display: block;
}

@media (min-width: 800px) {
  .sidebar {
    grid-column: 2 / 3;
    border-radius: 0.6rem;
    margin: 0;
  }
}
/* FOOTER ============================================= */

footer {
  text-align: center;
  margin: 1.6rem 0 1.6rem;
}

@media (min-width: 800px) {
  footer p {
    grid-column: 1 / 3;
  }
}
